{{> head }}

{{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>Naruto Uzumaki</h1>    
        </div>
        <div class="col-4">
            <img src="assets/img/naruto3.png" class="img-thumbnail">
        </div>

    </div>


{{> footer }}